<!-- scripts for network sample -->
<head>

    <script src="socket.io/socket.io.js"></script>
    <script src="lib/easyrtc.js"></script>
   <!-- <script src="https://unpkg.com/networked-aframe@^0.6.1/dist/networked-aframe.min.js"></script> -->
    <script src="/assets/js/spawn-in-circle.component.js"></script>


</head>

<script>
    // Define custom schema for syncing avatar color, set by random-color
    var avatarSchema = {
        template: '#avatar-template',
        components: [
            'position',
            'rotation',
            {
                selector: '.head',
                component: 'material',
                property: 'color'
            },
            {
                selector: '.name',
                component: 'text',
                property: 'value'
            },
            {
                selector: '.say',
                component: 'text',
                property: 'value'
            }

        ]
    };
    NAF.schemas.add(avatarSchema);


    var ballSchema = {
        template: '#ball-template',
        components: [
            'position',
            'rotation'
        ]
    };
    NAF.schemas.add(ballSchema);


    var importedElementSchema = {
        template: '#imported-element-template',
        components: [
            'position',
            'rotation',
            'scale',
            {
              //  selector: '.content',
                component: 'networked-imported-model',
                property: 'src'
            }
        ]
    };
    NAF.schemas.add(importedElementSchema);



    var editableActorSchema = {
        template: '#editable-actor-template',
        components: [
            'position',
            'rotation',
            //'scale', FIXME scale not working oO
           {
              // selector: '#root',
                component: 'template-template',
                property: 'value'
            }/*, FIXME fails silently if trying to sync
            {selector: '[is-template]',

                component: 'material',
                property: 'color'
            }*/
        ]
    };
    NAF.schemas.add(editableActorSchema);







</script>



{{> ../sceneDefinition}}



<style>

    .visuallyhidden
    {display:none;}


body{background-color:slategrey}

    .goal-info-text {

        position: absolute;
        width: 30%;
        top: 10%;
        left: 35%;
        background-color: #820c0c40;
        font-size: 6em;
        text-align: center;
        pointer-events: none;
        display: none;

    }

    .splash-screen-position {
        position: fixed;
        top: 20%;
        left: 20%;
        bottom: 20%;
        right: 20%;

    }

    .splash-screen {

        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
        background-image: url(assets/images/loading/Auckland_skyline_2004.jpg);

    }


.splash-screen-text {
    display: flex;
    padding-top:0.5em;
    font-size: 4em;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    align-items: center;
    justify-content: center;

    margin-top: 0.2em;
    height:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-image: url(assets/company/sandbox-altered-alpha.png);

}

    .overlay-editor {
        display: none;
        position: absolute;
        width: 30%;
        top: 10%;
        left: 60%;
        height: 80%;
        background-color: transparent;
    }

    .overlay-editor .content-area {

        width: 100%;

        height: 80%;
        background-color: transparent;
    }


</style>


<style>


    /* material design card */

    .card {

        border-radius: 2px;
        height: 300px;
        margin: 1rem;
        width: 300px;
    }

    .card-1 {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
    }

    .card-1:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .card-2 {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .card-3 {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .card-4 {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .card-5 {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }

</style>


<div class="overlay-editor">
    <textarea class="content-area"></textarea>
</div>


<div class="goal-info-text">GOAL!!!</div>
<style>
    .ci-icon {

        display:none;

        position:absolute;
        top:10px;
        left:10px;
        width:100px;
        height:100px;
        background:url(/assets/company/CI-Logo.svg);

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }


</style>
<div class="ci-icon"></div>


